<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
</html>
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>
        .text{
            text-align: center;
        }
    </style>
</head>
<body>
<form class="text" th:object="${regForm}" th:action="@{/registration}" th:method="post">
    <div>
        <label for="username">Login</label>
        <input id="username" th:field="${regForm.username}">
        <br>
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" th:field="${regForm.password}">
        <br>
        <br>
        <input type="submit" >
        <br>
        <br>
        <label th:text="${checkReg}"></label>
    </div>
</form>

</body>
</html>